/**
 * Project: Validation
 */

/**
 * @SimplePAVE
 * https://t.me/SimplePAVE
 * info@simplepave.ru
 */

.form-control:focus {
    border-color: #17a2b8;
    box-shadow: 0 0 0 .2rem rgba(23, 162, 184, .5);
}

.sp-submit {
    transition: 0.5s;
    background-size: 4rem 4rem;
    background-image: linear-gradient(-45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
}

.sp-submit:hover {
    background-position: -20px center;
}

.block-striped {
    background-size: 2rem 2rem;
    background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
}

/*.sp-dropdown:hover > .dropdown-menu {
    display: block;
}*/

.sp-table tr:first-child td {
    border-top: none;
}

.sp-nav .nav-link.active {
    color: #fff !important;
    background-color: #138496;
}

[data-toggle="buttons"] > .btn > input[type="radio"],
[data-toggle="buttons"] > .btn > input[type="checkbox"] {
    position: absolute;
    z-index: -1;
    filter: alpha(opacity=0);
    opacity: 0;
}

.sp-btn-accepted.active {
    color: #fff !important;
    background-color: #28a745 !important;
    border-color: #28a745 !important;
}

.sp-btn-accepted.focus.active {
    box-shadow: 0 0 0 .2rem rgba(40,167,69,.5);
}

.sp-btn-accepted i.fa {
    display: none;
}

.sp-btn-accepted.active i.fa {
    display: inline-block;
}